<script type="text/x-handlebars" data-template-name="application">
  <div id="wrapper">
    <div id="menu">
      <h2>{{#linkTo "index"}}Title{{/linkTo}}</h2>
      <p>
        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
      </p>
    </div>
    {{outlet}}
  </div>
</script>


<script type="text/x-handlebars" data-template-name="albums">
  <div id="content">
    <h1>Posts</h1>
    <ul>
      {{#each album in controller}}
        <li>{{#linkTo 'album' album}}{{album.name}}{{/linkTo}}</li>
      {{else}}
        <li>There are no albums.</li>
      {{/each}}
    </ul>
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="album">
  <div id="album">
  {{#linkTo 'albums'}}Albums{{/linkTo}}
  <ul>
    {{#each picture in pictures}}
      <img {{bindAttr src="picture.url"}}>
    {{else}}
      <li>There are no pictures.</li>
    {{/each}}
  </ul>
  </div>
</script>
